<div class="container mb-5">

  <div class="row mt-5" style="text-align: center;">
      <div class="display-4 col-12">登録クイズ一覧</div>
  </div>
  <div class="row mt-2">
    <a routerLink='/quizSetting/quiz-edit'>クイズの新規登録</a>
  </div>
  <div class="row mt-2" *ngFor="let quiz of this.quizzes">
    <a [routerLink]="'/quizSetting/quiz-edit/' + quiz.id">・{{ quiz.name }}</a>
  </div>

  <div class="row mt-5" style="text-align: center;">
    <a routerLink='/quizSetting/quiz-setting-list'>クイズ設定TOP画面に戻る</a>
  </div>
  
</div>