<div class="container mb-5">
  <div class="row mt-3 mb-3" style="text-align: center">
    <div class="col-12 display-4">ジャンル設定</div>
  </div>
  <div class="row mt-1" *ngFor="let genre of this.genres; let genreIndex = index;">
    <input class="col-8 choice" type="text" style="text-align: left;" [(ngModel)]="genre.name">
    <button type="button" class="offset-1 col-2 btn btn-sm btn-danger" (click)="deleteGenreButtonClick(genreIndex)">削除</button>
  </div>
  <div class="row mt-3" style="text-align: center;">
    <div class="col-6 offset-3" style="text-align: center;">
      <input type="button" class="btn btn-success" value="ジャンルを追加" (click)="addGenreButtonClick()">
    </div>
  </div>

  <div class="row mt-5" style="text-align: center;">
    <div class="col-8 offset-2" style="text-align: center;">
      <input type="button" class="btn btn-lg btn-success" value="ジャンル設定を保存" (click)="saveGenreSettingButtonClick()">
    </div>
  </div>

  <div class="row mt-2" style="text-align: center;">
    <a routerLink='/quizSetting/quiz-setting-list'>クイズ設定TOP画面に戻る</a>
  </div>

</div>