<div *ngIf="this.userService.nowProcessing">
  <h1>認証中...</h1>
</div>
<div *ngIf="this.userService.nowProcessing == false">
  <button mat-raised-button color="primary" [disabled]="termsCheckbox.checked == false" (click)="login()">ログイン</button>
  <mat-checkbox #termsCheckbox style="margin-left: 16px;"><a target="_blank" href="/termsOfService">利用規約</a>に同意する</mat-checkbox>
</div>
