
<div class="container mb-5" style="margin-top: 32px; margin-left: 32px; margin-right: 32px;">
  <div class="row" style="text-align: center; margin-bottom: 32px;">
    <h1 class="display-5 mt-5 mb-5">{{ this.quiz.name }}</h1>
  </div>
  <!-- クイズスタート画面 -->
  <div *ngIf="this.questionId == '0'">

    <div class="row" style="text-align: center; margin-bottom: 32px;">
        <a [routerLink]="'/quiz/question/' + this.quizId + '/1/'" (click)="goToTheNextQuestion()" class="start">クイズ開始</a>
    </div>

  </div>
  <!-- クイズスタート画面End -->

  <!-- クイズ画面 -->
  <div *ngIf="this.quizEndFlg == false && this.questionId != '0'">
    <div class="row">
      <h3 class="ml-3 mr-3">{{ this.question.question_text }}</h3>
    </div>
    <div class="row" *ngFor="let choice of this.question.choices; let choice_index = index;">
      <button type="button" class="choice" (click)="choiceClicked(choice_index)" style="text-align: left;"><strong>{{ choice_index + 1 }}.　</strong> {{ choice.text }}</button>
    </div>
  </div>
  <!-- クイズ画面End -->

  <!-- クイズ結果画面 -->
  <div *ngIf="this.quizEndFlg == true" class="row" style="text-align: center;">
    <div class="col-12">
        正解数<h1 class="display-3"> {{ this.correctCount }} / {{ this.correctCount + this.faildCount }}</h1>
        <br/>
        {{ this.resultText }}<br/>
        <br/>
    </div>
  </div>
  <!-- クイズ結果画面End -->
  
  <div class="row">
    <div id="tweetButtonHere"></div>
  </div>
  <div class="row" style="margin-top: 32px; text-align: center;">
    <a routerLink="/quiz/quiz-top">⇒ 他のクイズを解く</a>
  </div>
  
  <div class="row" style="text-align: center; margin-top: 48px; margin-bottom: 16px;">
    問題に不備があれば、<a href="https://twitter.com/rebi_cat" target="_blank">@rebi_cat</a> までお願いします。
  </div>
</div>
