<div style="text-align: center;">
    <h1 mat-dialog-title>
        結果
    </h1>
    <div mat-dialog-content style="text-align: center;">
        <span *ngIf="this.correct == true" style="font-size: large; color: red;">〇正解！</span>
        <span *ngIf="this.correct == false" style="font-size: large; color: blue;">✖間違い！</span>
    </div>
    <button mat-button style="margin-top: 16px;" (click)="onNoClick()">次の問題へ</button>
</div>
