.start {
    width: 100%;
    padding: 16px;
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
}

.choice {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-top: 0.25em;
    background-color: #ffcccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
}