<mat-toolbar color="primary" class="navbar">
  <span routerLink="/">{{ title }}</span>
  <div fxShow="true" fxHide.lt-sm="true">
    <a mat-button routerLink="/">ホーム</a>
    <button mat-button [matMenuTriggerFor]="quizzes">クイズ's</button>
    <mat-menu #quizzes="matMenu">
      <button mat-menu-item routerLink="/quiz/quiz-top">クイズトップ</button>
      <button mat-menu-item routerLink="/quiz/quiz-mypage">クイズマイページ</button>
    </mat-menu>
    <a mat-button target="_blank" href="http://evero.jp/">イベ廊</a>
    <a mat-button class="nav-link" targt="_blank" href="https://chrome.google.com/webstore/detail/black-list-site/pleijhempjpmjogomoabhibenbjekhlj?hl=ja">Black List Site</a>
  </div>
  <div fxShow="true" fxHide.gt-xs="true">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/">ホーム</button>
      <button mat-menu-item [matMenuTriggerFor]="quizzes">クイズ's</button>
      <mat-menu #quizzes="matMenu">
        <button mat-menu-item routerLink="/quiz/quiz-top">クイズトップ</button>
        <button mat-menu-item routerLink="/quiz/quiz-mypage">クイズマイページ</button>
      </mat-menu>
      <a mat-button target="_blank" href="http://evero.jp/">イベ廊(全国のイベント情報を検索)</a>
      <a mat-button target="_blank" href="https://chrome.google.com/webstore/detail/black-list-site/pleijhempjpmjogomoabhibenbjekhlj?hl=ja">Black List Site</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon></button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<hr />
<div style="text-align: center; margin-top: 16px; margin-bottom: 16px;">
  © <a href="https://twitter.com/rebi_cat" target="_blank">れび</a> ← 管理人のTwitterへのリンク
</div>