<div class="container mb-5">

  <div class="row mt-5" style="text-align: center;">
      <div class="display-4 col-12">クイズ設定画面</div>
  </div>
  <div class="row mt-2">
    <a routerLink='/quizSetting/quiz-setting-list'>登録クイズ一覧</a>
  </div>
  <div class="row mt-2">
    <a routerLink='/quizSetting/genre-list'>クイズのジャンル設定</a>
  </div>

</div>
