<div style="margin-left: 32px">
  <p style="font-size:x-large;">クイズ's</p>
  <div class="row" style="margin-bottom: 16px" *ngFor="let quiz of this.quizzes">
    <a [routerLink]="'/quiz/question/' + quiz.id + '/0/'">・{{ this.quiz.name }}</a>
  </div>
</div>