<div class="container mb-5">
    <div class="row mt-3 mb-3" style="text-align: center">
      <div class="col-12 display-4">ログインログ</div>
    </div>
    <div class="row mt-1" *ngFor="let loginLog of this.loginLogs;">
        <div class="col-12">[{{ loginLog.user_id }}] {{ loginLog.login_datetime }}</div>
    </div>
</div>