
<div style="margin-left: 32px">
  <p style="font-size:x-large;">クイズ's</p>
  <p>※挑戦するジャンルを選択してください。</p>
  <div class="row" style="margin-bottom: 16px;" *ngFor="let genre of this.genres">
    <a [routerLink]="'/quiz/quiz-list/' + this.genre.id">{{ this.genre.name }}</a>
  </div>
  <p *ngIf="this.userService.IsLoggedIn"><a routerLink="/quiz/quiz-entry">⇒自分でクイズを作成する。</a></p>
  <p *ngIf="this.userService.IsLoggedIn"><a routerLink="/quiz/quiz-mypage">⇒自分が作ったクイズを確認する。</a></p>
  <div *ngIf="this.userService.IsLoggedIn == false" style="margin-top: 32px;">※Googleアカウントでログインするとクイズを作成できます。</div>
  <app-login *ngIf="this.userService.IsLoggedIn == false"></app-login>
  <app-logout *ngIf="this.userService.IsLoggedIn"></app-logout>
</div>