<div class="container mb-5">
  <div class="row" style="text-align: center">
    <input class="s col-12 mt-5 mb-5" style="font-size: 2em;" type="text" placeholder="クイズの名前を入力してください。" [(ngModel)]="this.quiz['name']"/>
  </div>
  <div *ngFor="let question of this.quiz.questions; let questionIndex = index;" class="row mt-2">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          問題 {{ questionIndex+1 }}　　<button type="button" class="btn btn-sm btn-danger" (click)="deleteQuestionButtonClick(questionIndex)">この問題を削除</button>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <input type="text" value="" style="width: 100%;" [(ngModel)]="question.question_text" placeholder="問題文を入力してください。">
        </div>
      </div>

      <div *ngFor="let choice of question.choices; let choiceIndex = index;" [attr.data-index]="i" class="row mt-1">
        <textarea class="col-8 choice" type="text" style="text-align: left;" [(ngModel)]="choice.text"></textarea>
        <button *ngIf="choice.correct == false" type="button" class="col-2 btn btn-warning" (click)="changeCorrectButtonClick(questionIndex, choiceIndex)">不正解</button>
        <button *ngIf="choice.correct" type="button" class="col-2 btn btn-success" (click)="changeCorrectButtonClick(questionIndex, choiceIndex)">正解</button>
        <button type="button" class="col-2 btn btn-danger" (click)="deleteChoiceButtonClick(questionIndex, choiceIndex)">削除</button>
      </div>
      <div class="row mt-1">
        <div class="col-4 offset-4" style="text-align: center;">
          <input type="button" class="btn btn-sm btn-success" value="選択肢を追加" (click)="addChoiceButtonClick(questionIndex)">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4 offset-4" style="text-align: center;">
      <input type="button" class="btn btn-success" value="問題を追加" (click)="addQuestionButtonClick()">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4" style="text-align: center;">
      <select #genreSelectBox (change)="genreSelectBoxChange(genreSelectBox.value)">
        <option value="">ジャンルを選択</option>
        <option *ngFor="let genre of this.genres; let genreIndex = index;" [value]="genreIndex">
          {{ genre.name }}
        </option>
      </select>
    </div>
    <div class="col-8">
      <span *ngFor="let genreId of this.quiz.genreIds; let genreIndex = index;"
       style="border: solid 1px black;" class="mr-1"
       (click)="deleteGenreClick(genreIndex)">
        ×{{ getGenreForGenreId(genreId).name }}
      </span>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12" style="text-align: center;">
      <input type="button" class="btn btn-lg btn-success" [value]="this.quiz['id'] === '' ? 'クイズを登録' : 'クイズ設定を保存'" (click)="entryQuizButtonClick()">
    </div>
  </div>

  <div class="row mt-5" *ngIf="this.quiz.id !== ''">
    <div class="col-12" style="text-align: center;">
      <input type="button" class="btn btn-lg btn-danger" value="クイズを削除" (click)="deleteQuizButtonClick()">
    </div>
  </div>

  <!--div class="row mt-1" *ngFor="let temp of this.tempQuizzes; let tempIndex = index;">
    <div class="col-12" style="text-align: center;">
      <span (click)="setQuizTemplate(tempIndex)">{{ temp['name'] }}</span>
    </div>
  </div-->

  <div class="row mt-2" style="text-align: center;">
    <a routerLink='/quizSetting/quiz-setting-list'>クイズ設定一覧画面に戻る</a>
  </div>
</div>