<div fxLayout="row wrap" fxFlexOffset="16px" fxLayoutGap="32px" fxLayoutAlign="flex-start" style="margin-top: 1em;">
  <div fxFlex="0 1 calc(100%)" style="margin-bottom: 16px; text-align: right;">
    <app-login *ngIf="this.userService.IsLoggedIn == false"></app-login>
    <app-logout *ngIf="this.userService.IsLoggedIn"></app-logout>
  </div>
  <div fxFlex="0 1 100%">
    <div fxLayout="row wrap" fxFlexOffset="16px" fxLayoutGap="32px" fxLayoutAlign="flex-start" style="margin-top: 1em;">
      <div fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%">
        <div
          gdAreas="header header | side content | footer footer"
          gdGap="32px"
          gdRows="auto auto auto"
          gdAreas.lt-md="header | side | content | footer"
          gdRows.lt-md="auto auto auto auto">
          <mat-card class="example-card" routerLink="/quiz/quiz-top">
            <mat-card-header>
              <mat-card-title>Qui’z</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/pic/top/quiz.JPG" alt="">
            <mat-card-content>
              <p>
                色んなジャンルのクイズを楽しむことができます。
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%">
        <div
          gdAreas="header header | side content | footer footer"
          gdGap="16px"
          gdRows="auto auto auto"
          gdAreas.lt-md="header | side | content | footer"
          gdRows.lt-md="auto auto auto auto">
          <a target="_blank" href="http://evero.jp/">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>イベ廊</mat-card-title>
                <mat-card-subtitle>全国のイベント情報を検索</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="./assets/pic/top/evero-icon.JPG" alt="">
              <mat-card-content>
                <p>
                  全国の商業施設や公共施設で開催されるイベント情報を検索できます。
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>

      <div fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%">
        <div target="_blank" href="https://chrome.google.com/webstore/detail/black-list-site/pleijhempjpmjogomoabhibenbjekhlj?hl=ja"
          gdAreas="header header | side content | footer footer"
          gdGap="16px"
          gdRows="auto auto auto"
          gdAreas.lt-md="header | side | content | footer"
          gdRows.lt-md="auto auto auto auto">
          <a target="_blank" href="https://chrome.google.com/webstore/detail/black-list-site/pleijhempjpmjogomoabhibenbjekhlj?hl=ja">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Black List Site</mat-card-title>
                <mat-card-subtitle>仕事効率化のためのChrome拡張機能</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="./assets/pic/top/black-list-site.JPG" alt="">
              <mat-card-content>
                <p>
                  開きたくないサイトを開くと、強制的に指定のサイトに遷移する拡張機能です。
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>