.content {
    width: 100%;
    padding: 1em;
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
}

a, a:visited, a:link, a:hover, a:active{
    text-decoration: none;
  }