<div style="margin-left: 32px">
    <p style="font-size:x-large;">登録クイズ一覧</p>
    <p style="margin-bottom: 16px;"><a routerLink='/quiz/quiz-entry'>クイズの新規登録</a></p>
    <div class="row" style="margin-bottom: 16px;" *ngFor="let quiz of this.quizzes">
        <a [routerLink]="'/quiz/quiz-entry/' + quiz.id">・{{ quiz.name }}</a>
    </div>
</div>
