/* You can add global styles to this file, and also import other style files */
body {
    background-color: #7fffff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a, a:visited, a:link, a:hover, a:active{
    text-decoration: none;
  }