<div style="text-align: center;">
    <h1 mat-dialog-title>
        登録が完了しました。
    </h1>
    <div mat-dialog-content style="text-align: center;">
        <p>以下のURLでクイズが作成されました。</p>
        <p>{{ this.url }}</p>
    </div>
    <button mat-button style="margin-top: 16px;" (click)="onNoClick()">閉じる</button>
</div>
