.start {
    width: 100%;
    padding: 1em;
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
}

.choice {
    //width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-top: 0.25em;
    background-color: #ffcccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
}

.s{
    margin: 0 0 0 10px;
    width: 9em;
    transition: all .6s ease;
    border-bottom:1px solid #cccccc;
    border-right:none;
    border-left:none;
    border-top:none;
    border-radius:0px;
    background:none;
}
.s:focus{
    width:16em;
}
