<div style="margin-left: 32px; margin-right: 32px; margin-top: 32px;">
    <mat-form-field style="width: 100%">
      <input matInput style="width: 100%" type="text" placeholder="クイズの名前を入力してください。" [(ngModel)]="this.quiz['name']"/>
    </mat-form-field>
    <div *ngFor="let question of this.quiz.questions; let questionIndex = index;" class="row" style="margin-top: 64px;">
        <div class="row">
            問題 {{ questionIndex+1 }}　　<button button mat-raised-button color="warn" (click)="deleteQuestionButtonClick(questionIndex)">この問題を削除</button>
        </div>
        <mat-form-field style="width: 100%; margin-top: 16px;">
            <input matInput value="" style="width: 100%;" [(ngModel)]="question.question_text" placeholder="問題文を入力してください。">
        </mat-form-field>
        <div fxLayout="row wrap"
            xLayoutAlign="flex-start"
            fxLayoutGap="4px"
            fxLayoutGap.xs="2px"
            *ngFor="let choice of question.choices; let choiceIndex = index;"
            [attr.data-index]="i"
            style="width: 100%; margin-bottom: 4px;">

            <div fxFlex="0 1 calc(70% - 4px)"
                fxFlex.md="0 1 calc(70% - 4px)"
                fxFlex.xs="0 1 calc(100% - 2px)">
                <mat-form-field style="width: 100%">
                    <textarea matInput placeholder="選択肢を入力" class="" style="text-align: left; width:90%;" [(ngModel)]="choice.text"></textarea>
                </mat-form-field>
            </div>
            <div fxFlex="0 1 calc(14% - 4px)"
                fxFlex.md="0 1 calc(14% - 4px)"
                fxFlex.xs="0 1 calc(50% - 2px)">
                <button mat-raised-button color="accent" style="width: 100%; height: 80%;" *ngIf="choice.correct == false" (click)="changeCorrectButtonClick(questionIndex, choiceIndex)">不正解</button>
                <button mat-raised-button color="primary" style="width: 100%; height: 80%;" *ngIf="choice.correct" (click)="changeCorrectButtonClick(questionIndex, choiceIndex)">正解</button>
            </div>
            <div fxFlex="0 1 calc(14% - 4px)"
                fxFlex.md="0 1 calc(14% - 4px)"
                fxFlex.xs="0 1 calc(50% - 2px)">
                <button mat-raised-button color="warn" style="width: 100%; height: 80%;" (click)="deleteChoiceButtonClick(questionIndex, choiceIndex)">削除</button>
            </div>
        </div>
        <div class="row" style="margin-top: 16px; margin-bottom: 32px;">
          <div class="col-4 offset-4" style="text-align: center;">
            <button mat-raised-button color="primary" (click)="addChoiceButtonClick(questionIndex)">選択肢を追加</button>
          </div>
        </div>
    </div>
    <div class="row" style="margin-top: 32px;">
      <div class="col-4 offset-4" style="text-align: center;">
        <button mat-raised-button color="primary" (click)="addQuestionButtonClick()">問題を追加</button>
      </div>
    </div>
    <!--div class="row mt-3">
      <div class="col-4" style="text-align: center;">
        <select #genreSelectBox (change)="genreSelectBoxChange(genreSelectBox.value)">
          <option value="">ジャンルを選択</option>
          <option *ngFor="let genre of this.genres; let genreIndex = index;" [value]="genreIndex">
            {{ genre.name }}
          </option>
        </select>
      </div>
      <div class="col-8">
        <span *ngFor="let genreId of this.quiz.genreIds; let genreIndex = index;"
         style="border: solid 1px black;" class="mr-1"
         (click)="deleteGenreClick(genreIndex)">
          ×{{ getGenreForGenreId(genreId).name }}
        </span>
      </div>
    </div-->
  
    <div class="row" style="margin-top: 64px;">
      <div class="col-12" style="text-align: center;">
        <button mat-raised-button color="primary" (click)="entryQuizButtonClick()">{{ this.quiz['id'] === '' ? 'クイズを登録' : 'クイズ設定を保存' }}</button>
      </div>
    </div>
  
    <div class="row" style="margin-top: 32px;" *ngIf="this.quiz.id !== ''">
      <div class="col-12" style="text-align: center;">
        <button mat-raised-button color="warn" (click)="deleteQuizButtonClick()">クイズを削除</button>
      </div>
    </div>
  
    <!--div class="row mt-1" *ngFor="let temp of this.tempQuizzes; let tempIndex = index;">
      <div class="col-12" style="text-align: center;">
        <span (click)="setQuizTemplate(tempIndex)">{{ temp['name'] }}</span>
      </div>
    </div-->
  
    <div class="row" style="text-align: center; margin: 32px;">
      <a routerLink='/quiz/quiz-mypage'>マイページに戻る</a>
    </div>
</div>
